In [2]:
import pandas as pd

In [4]:
d = {'num_legs': [4, 4, 2, 2],
     'num_wings': [0, 0, 2, 2],
     'class': ['mammal', 'mammal', 'mammal', 'bird'],
     'animal': ['cat', 'dog', 'bat', 'penguin'], 
     'locomotion': ['walks', 'walks', 'flies', 'walks']}

In [5]:
d

{'num_legs': [4, 4, 2, 2],
 'num_wings': [0, 0, 2, 2],
 'class': ['mammal', 'mammal', 'mammal', 'bird'],
 'animal': ['cat', 'dog', 'bat', 'penguin'],
 'locomotion': ['walks', 'walks', 'flies', 'walks']}

In [7]:
df = pd.DataFrame(d)

In [9]:
df

   num_legs  num_wings   class   animal locomotion
0         4          0  mammal      cat      walks
1         4          0  mammal      dog      walks
2         2          2  mammal      bat      flies
3         2          2    bird  penguin      walks

In [14]:
df.set_index(['class', 'animal', 'locomotion'], inplace=True)

In [15]:
df

                           num_legs  num_wings
class  animal  locomotion
mammal cat     walks              4          0
       dog     walks              4          0
       bat     flies              2          2
bird   penguin walks              2          2

In [19]:
df.xs('mammal')

                   num_legs  num_wings
animal locomotion
cat    walks              4          0
dog    walks              4          0
bat    flies              2          2

In [20]:
df.xs(('mammal', 'cat'))

/opt/pyenv/versions/udemy/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2845: PerformanceWarning: indexing past lexsort depth may impact performance.
  return runner(coro)

            num_legs  num_wings
locomotion
walks              4          0

In [22]:
df.xs('cat', level=1)

                   num_legs  num_wings
class  locomotion
mammal walks              4          0

In [24]:
df.xs('mammal')

                   num_legs  num_wings
animal locomotion
cat    walks              4          0
dog    walks              4          0
bat    flies              2          2

In [25]:
df.xs(('bird', 'walks'), level=[0, 'locomotion'])

         num_legs  num_wings
animal
penguin         2          2

In [26]:
df.xs(('mammal', 'walks'), level=[0, 'locomotion'])

        num_legs  num_wings
animal
cat            4          0
dog            4          0

In [27]:
df.xs('num_wings', axis=1)

class   animal   locomotion
mammal  cat      walks         0
        dog      walks         0
        bat      flies         2
bird    penguin  walks         2
Name: num_wings, dtype: int64